body{
    font-family: sans-serif;
}

p, li{
    line-height: 2;
}

h2{
    background-color: #eee;
    border-style: solid;
    border-color: rgba(10, 10, 255, .7);
    border-width: 0 0 2px 6px;
    padding-left: 8px;
}

h5{
    padding-top: 20px;
}

main{
    background-color: #f5f5f5;
}

#mainInner{
    border-style: solid;
    border-width: 10px 0;
    border-color: #f5f5f5;   
}

.container{
    background-color: white;
}

#title{
    font-weight: bold;
    color: blue;
    text-shadow: 3px 3px 0 rgba(0, 255, 0, .3);
}

footer{
    border-top: 1px solid #ddd;
}